.adbanner {
  display: flex;
  background-color: #fff;
  width: 99%;
  border-radius: 5px;
  justify-content: space-between;
}
.adbanner__image {
  padding: 10px;
  width: 100%;
  display: flex;
}
.adbanner__image > img {
  display: flex;
  object-fit: unset;
  height: 250px;
  cursor: pointer;
  width: 100% !important;
}
