.offers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: -5px;
}
.offersOption {
  display: flex;
  align-items: center;
  background-color: white;
  width: 300px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
}
.offersOption > h2 {
  font-weight: 500;
  font-size: 20px;
  color: #292929;
  opacity: 0.7;
  text-transform: capitalize;
}
.offersOption > img {
  display: flex;
  object-fit: contain;
  height: 40px;
  margin-right: 20px;
}
