.rightbar {
  display: flex;
  flex-direction: column;
  flex: 0.15 !important;
  max-width: 250px;
  margin-left: 12px;
  margin-right: -20px;
}
.rightbar__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.rightbar__topContent {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  margin-top: 12px;
  cursor: pointer;
  transition: color 300ms ease-out;
}
.rightbar__topContent:hover .rightbar__text h2 {
  color: #f6881e !important;
}
.rightbar__topContent:hover .rightbar__text p {
  color: #f6881e !important;
}
.rightbar__image > img {
  object-fit: contain;
  height: 30px;
  margin-right: 10px;
  align-items: center;
}
.rightbar__text {
  display: flex;
  flex-direction: column;
}
.rightbar__text > h2 {
  color: #282828 !important;
  font-size: small;
  font-weight: 400;
  text-transform: uppercase;
  align-items: center;
  transition: color 300ms ease-out;
}
.rightbar__text p {
  font-size: small;
  font-weight: 400;
  letter-spacing: 1.5px;
  align-items: flex-end;
  color: #282828;
  transition: color 300ms ease-out;
}
.rightbar__bottom {
  display: flex;
}
.rightbar__bottom > img {
  object-fit: contain;
  height: 210px;
  border-radius: 5px;
}
