.sidebar {
  max-width: 200px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex: 0.2;

  border-radius: 5px;
  margin-right: 20px;
}
.sidebarOptions {
  display: flex;
  align-items: center;
  font-size: 13px !important;
  cursor: pointer;
  color: #282828;
  transition: color 300ms ease-out;
  margin: 14px auto;
}
.sidebarOptions:hover {
  color: #f6881e;
}
.sidebarOptions > h3 {
  font-weight: 500;
  font-size: small;
}
.sidebarOption__icon {
  font-size: 15px !important;
  align-items: center;
  margin-right: 5px;
}
