.app__body {
  display: flex;
  width: 100%;
  margin-top: 15px;
}
.sidebar {
  max-width: 200px;
  margin-left: auto;
  margin-right: 20px;
  height: 415px;
  background-color: #fff;
  padding: 10px;
  flex: 0.2;
}
.sidebarOptions {
  display: flex;
  align-items: center;
  font-size: 12px !important;
  cursor: pointer;
  transition: color 300ms ease-out;
}
.sidebarOptions:hover {
  color: #f6881e;
}
.sidebarOptions > h3 {
  font-weight: 500;
  padding: 5px;
}
.sidebarOption__icon {
  font-size: 15px !important;
  align-items: center;

  margin-right: 5px;
}
