.slider {
  display: flex;
  flex: 1;
  border-radius: 5px;
}
.slider__container {
  height: 433px;
}
.slider__container > img {
  margin-top: 0px;
  height: 433px;
  width: 100% !important;
  border-radius: 5px;
}
